@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;800&family=Rubik:wght@500;600;700&display=swap");
.page {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
  bottom: 0;
  font-size: 16px;
}
.page.lock {
  overflow: hidden;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #343434;
}
.header__inner {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.header__logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  margin-right: 20px;
}

.nav__list {
  font-size: 20px;
  font-weight: 600;
}
.nav__item {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}
.nav__item:hover {
  color: blue;
}
.nav__burger {
  display: none;
}
@media (max-width: 1024px) {
  .nav__list {
    font-size: 18px;
    font-weight: 600;
  }
  .nav__item {
    margin-right: 10px;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
}
@media (max-width: 901px) {
  .nav {
    height: 70px;
  }
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    transition: all 1s ease 0s;
    z-index: 10;
  }
  .nav__menu.active {
    top: 0;
  }
  .nav__burger {
    display: block;
    position: relative;
    top: 25px;
    right: 15px;
    width: 30px;
    height: 20px;
    z-index: 20;
  }
  .nav__burger span {
    position: absolute;
    top: 10px;
    background-color: #000000;
    width: 100%;
    height: 4px;
    top: 8px;
  }
  .nav__burger::before, .nav__burger::after {
    content: "";
    background: #000000;
    position: absolute;
    width: 100%;
    height: 4px;
    right: 0;
  }
  .nav__burger::before {
    top: 0;
  }
  .nav__burger::after {
    bottom: 0;
  }
  .nav__burger.active::before {
    transform: rotate(45deg);
    transition: 0.2s;
    top: 8px;
  }
  .nav__burger.active::after {
    transform: rotate(-45deg);
    transition: 0.2s;
    bottom: 8px;
  }
  .nav__burger.active span {
    transform: scale(0);
  }
  .nav__list {
    display: block;
    margin-top: 20px;
  }
  .nav__item {
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 15px;
  }
  .nav__item.active {
    z-index: 15;
  }
}

.banner {
  position: relative;
}
.banner__inner {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.banner__body {
  z-index: 3;
  margin: 210px auto;
  padding: 0 15px;
}
.banner__title {
  margin-top: -30px;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}
.banner__text {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  width: 50%;
  color: #fff;
}
.banner__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.banner__button {
  display: inline-block;
  padding: 10px 20px 9px 19px;
  border: 1px solid #FF6464;
  border-radius: 35px;
  background: #FF6464;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .banner__body {
    margin: 170px 0;
  }
  .banner__title {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .banner__text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .banner__body {
    margin: 150px auto;
  }
  .banner__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .banner__text {
    font-size: 18px;
    width: 100%;
  }
  .banner__button {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .banner__title {
    font-size: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .banner__text {
    font-size: 16px;
    width: 100%;
  }
  .banner__button {
    width: 70%;
  }
}

.button {
  padding: 10px 20px 9px 19px;
  border: 1px solid #FF6464;
  border-radius: 35px;
  background: #FF6464;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-decoration: none;
  color: #FFFFFF;
}

.services {
  background-color: #f1f1f1;
  height: 100%;
}
.services__inner {
  margin-bottom: 30px;
}
.services__up {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.services__title {
  padding-top: 20px;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 600;
}
.services__button {
  margin-top: 80px;
}
.services__button_bottom {
  display: none;
  margin-bottom: 30px;
}
.services__body {
  margin-top: 30px;
}
@media (max-width: 768px) {
  .services__title {
    margin: 60px auto 0;
  }
  .services__button_up {
    display: none;
  }
  .services__button_bottom {
    display: block;
    margin: 0 15%;
    text-align: center;
  }
  .services__bottom {
    padding: 30px 0;
    background-color: #f1f1f1;
  }
}

.card-services__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 20px 40px;
  margin-bottom: 20px;
}
.card-services__item {
  max-width: 400px;
  background-color: #fff;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.card-services__img {
  border-radius: 10px;
  max-width: 100%;
  max-height: auto;
}
.card-services__body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.card-services__title {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  display: flex;
  justify-content: center;
}
.card-services__text {
  color: #000000;
  font-size: 16px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}
.card-services__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 5px;
  margin-top: 10px;
}
.card-services__button {
  padding: 1px;
  border-radius: 20px;
  cursor: pointer;
}
.card-services__more {
  display: flex;
  align-items: center;
}
.card-services__more a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.card-services__more img {
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
@media (max-width: 1024px) {
  .card-services__items {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
  }
}
@media (max-width: 530px) {
  .card-services__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-services__item {
    margin: 20px auto;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(500px) translate(0px, 0) rotateX(0);
  opacity: 1;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #fff;
  color: #000000;
  max-width: 600px;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(500px) translate(0px, -100%) rotateX(45deg);
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
  font-size: 30px;
  color: #000000;
}
.popup__close:hover {
  color: red;
}
.popup__close:target .popup__content {
  opacity: 0;
  visibility: hidden;
}
.popup__title {
  font-size: 28px;
  font-weight: 600;
  color: #22262d;
  margin-top: 50px;
  text-align: center;
}
.popup__button {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  cursor: pointer;
}
@media (max-width: 480px) {
  .popup__title {
    margin-top: 30px;
  }
}

.input__name {
  display: block;
  margin: 40px auto 15px auto;
  padding: 17px 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  width: 60%;
}
.input__tel {
  display: block;
  margin: 25px auto 40px auto;
  padding: 17px 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  width: 60%;
}
.input__name:focus {
  outline: none;
}
.input__tel:focus {
  outline: none;
}

.quiz__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.quiz__desc {
  padding-left: 15px;
  margin-right: 30px;
}
.quiz__title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}
.quiz__text {
  font-size: 18px;
  font-weight: 500;
  width: 80%;
}
.quiz__body {
  max-width: 570px;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .quiz__inner {
    justify-content: center;
    flex-direction: column;
  }
  .quiz__desc {
    margin-bottom: 40px;
  }
  .quiz__title {
    font-size: 22px;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .quiz__text {
    text-align: center;
    width: 100%;
    padding: 0 20px;
  }
}

.itc-slider {
  border-radius: 20px;
}
.itc-slider__wrapper {
  border-radius: 20px;
  border: 1px solid #000000;
}
.itc-slider__title {
  padding: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  border: 1px solid #e5e5e5;
}
.itc-slider__items {
  counter-reset: slide;
  color: #fff;
}
.itc-slider__item {
  counter-increment: slide;
  position: relative;
  background-color: #9c27b0;
}
.itc-slider__item::before {
  content: counter(slide) "/5";
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: bold;
  display: block;
}
.itc-slider__item-title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin: 60px 0 30px;
}
.itc-slider__item-title_1 {
  width: 50%;
  margin: 60px auto 30px;
}
.itc-slider__input_1 {
  margin-left: 40px;
  font-weight: 400;
  padding-bottom: 20px;
}
.itc-slider__input_2 {
  display: block;
  margin: 30px auto 0 auto;
  padding: 17px 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  width: 70%;
}
.itc-slider__button {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 40px auto;
}
.billing {
  background-color: #e5e5e5;
}
.billing__inner {
  margin-top: 40px;
}
.billing__title {
  margin-top: 30px;
  text-align: center;
  padding-top: 80px;
  font-size: 36px;
  font-weight: 600;
}
.billing__body {
  display: flex;
  margin: 20px auto;
}
.billing__items {
  display: flex;
  margin: 30px auto 0;
  padding: 0 10px;
  padding-bottom: 40px;
}
.billing__item {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
  margin: 0 20px 0 0;
  border-radius: 10px;
  border: 2.5px solid #000000;
  background-color: #fff;
}
.billing__item:last-child {
  margin-right: 0;
}
.billing__subtitle {
  padding: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  background-color: rgba(255, 0, 0, 0.18);
}
.billing__price {
  padding: 20px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.billing__price span {
  font-size: 80%;
  font-weight: 500;
  color: #9d9d9d;
}
.billing__text {
  margin: 0px 20px 20px;
  flex: 1 1 auto;
  text-align: center;
}
.billing__button {
  text-align: center;
  margin: 20px auto;
  min-width: 150px;
}
@media (max-width: 768px) {
  .billing__items {
    display: block;
    padding: 0 15px;
  }
  .billing__item {
    display: block;
    max-width: 400px;
    margin: 0 auto 20px;
  }
}
.billing__button {
  margin: 20px 10%;
}/*# sourceMappingURL=main.css.map */